#webhead{
  background-color: black;
  padding: 20px;
  margin-block: 0;
  padding: 2px;
  color: white;
  text-align: center;  
  font-size: 20px;
}

#ramen-menu{
        display: flex;
        justify-content: center;
        padding: 20px;
        gap: 10px;
       
    }

#ramen-menu img {
    
    object-fit: cover;
}